body{
    font-family: '8BIT WONDER', sans-serif;
    text-align: center;
    color: white;
    font-size: 25px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    background: url(https://64.media.tumblr.com/36993928e59b271df3961190a110c1b4/97c69debd9c49469-8a/s1280x1920/c7d99234f948b3df24b15c926b98579abf359de3.gifv);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contenedor{
    width: 720px;
    height: 370px;
    margin-top: 30px;
    margin-left: 330px;
    padding-top: 50px;
    text-align: center;
    letter-spacing: 5px;
    background-color: rgba(0, 0, 0, 0.418);
}

.contenedor a{
    text-decoration: none;
    color: white;
    padding-top: 5px;
    margin-left: 5px;  
    letter-spacing: 5px;
    display: block;
}

a:hover{
    text-decoration: underline;
}

.next{
    width: 200px;
    height: 75px;
    margin-left: 280px;
    display: flex;
}
img{
    height: 45px;
    width: 75px;
}
