.columna{
    font-family: "arial";
    float: left;
    width: 70%;
    padding:  10px;
    height: 300px;
}

.columna2 {
    float: right;
    margin-right: 50px;
    border: solid black 1px;
    padding: 10px;
}

.columna2 img {
    width: 250px;
}

.columna2 h1 {
    background-color: antiquewhite;
    padding: 5px;
}

