body{
    background-color: #222;
    color: #ee6;
}

h1{
    text-align: center;
}

h1:hover{
    color: gray;
}


h1,h2,h3{
    color:#eee;
    text-transform: uppercase;
}

p{
    font-family: sans-serif;
}

p:nth-of-type(1):first-line {
    color: #efe; 
}

strong{
    border-bottom: white 1px solid;
}

a:not([href]){
    font-style: italic;
}

a:visited{
    color: gray;
}

/*------------------------------------*/

.the-force{
    background-color: #444;
    font-weight: bold;
}

.light-side{
    color: #66f;
}

.dark-side{
    color: #f33;
}

/*------------------------------------*/

#og-trilogy{
    list-style-type: circle;
}

.movies-list:nth-of-type(2) { 
    padding-left: 150px;
}

.movies-list:nth-of-type(3) li:nth-child(3) {
    margin-top: 20px;
}

.movies-list li:nth-child(2n+1){
    background-color: #111;
}

.movies-list li:nth-child(2n+2){
    background-color: #333;
}