
body{
    text-align: center;
    font-size: 25px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    background: url(https://64.media.tumblr.com/36993928e59b271df3961190a110c1b4/97c69debd9c49469-8a/s1280x1920/c7d99234f948b3df24b15c926b98579abf359de3.gifv);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contenedor{
    width: 600px;
    margin-top: 90px;
    margin-left: 340px;
    letter-spacing: 5px;
}

.caja a{
    text-decoration: none;
    color: white;
    padding-top: 5px;
    margin-left: 5px;  
    letter-spacing: 5px;
}


.caja a:hover{
    text-decoration: underline;
    color: gray;
}

img{
    height: 55px;
    width: 65px;
    float: left;
    padding: 0px;
}

img:hover{
    border-radius: 50%;
    background-color: black;
}
